/*
    create by weiganyi on 20131128
*/

/* login.php style */
#login_table
{
	background-color: #FFFFFF;  /* bai se */
	color: #000000;             /* hei se */

    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: black;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

#login_tr, .login_tr1, .login_tr2
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: black;

    height: 50px;
}

.login_tr1
{
	background-color: #A9A9A9;  /* an hui se */
}

.login_tr2
{
	background-color: #DCDCDC;  /* dan hui se */
}

#login_title_td
{
	background-color: #000000;  /* hei se */
	color: #FFFFFF;             /* bai se */

	text-align: center;
	font-weight: bold;
    font-size:200%;
}

#login_title_a
{
	text-decoration: none;
	color: #FFFFFF;             /* bai se */
}

.login_label_td
{
	text-align: right;
    font-size:150%;

    width: 200px;
}

.login_input_td
{
	text-align: left;

    width: 250px;
}

.login_input
{
    width: 200px;
    height: 20px;
}

#login_submit_td
{
	text-align: center;
}

#login_submit_input
{
	font-weight: bold;
    font-size:150%;
}

#login_notice_td
{
	text-align: center;
	color: red;
}

#login_register_td
{
	text-align: center;
}

/* register.php style */
#reg_table
{
	background-color: #FFFFFF;  /* bai se */
	color: #000000;             /* hei se */

    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: black;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

#reg_tr, .reg_tr1, .reg_tr2
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: black;

    height: 50px;
}

.reg_tr1
{
	background-color: #A9A9A9;  /* an hui se */
}

.reg_tr2
{
	background-color: #DCDCDC;  /* dan hui se */
}

#reg_title_td
{
	background-color: #000000;  /* hei se */
	color: #FFFFFF;             /* bai se */

	text-align: center;
	font-weight: bold;
    font-size:200%;
}

#reg_title_a
{
	text-decoration: none;
	color: #FFFFFF;             /* bai se */
}

.reg_label_td
{
	text-align: right;
    font-size:150%;

    width: 200px;
}

.reg_input_td
{
	text-align: left;

    width: 250px;
}

.reg_user_name_input
{
    width: 200px;
    height: 20px;
}

#reg_submit_td
{
	text-align: center;
}

#reg_submit_input
{
	font-weight: bold;
    font-size:150%;
}

#reg_notice_td
{
	text-align: center;
	color: red;
}

#reg_login_td
{
	text-align: center;
}

/* head.php style */
#body_div                       /* jiao ning bu ju */
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#head_div
{
	background-color: #FFFFFF;  /* bai se */
	color: #000000;             /* hei se */

	text-align: center;
	font-weight: bold;
    font-size:300%;

	margin-top: 10px;
	margin-bottom: 10px;
}

/* menu.php style */
#menu_main_ul
{
	list-style-type: none;
    font-size:120%;
}

#menu_main_ul li, #menu_submenu_ul li
{
	float: left;        /* force the menuitem float to left*/
	margin-left: 10px;
	margin-right: 10px;
}

#menu_main_ul li a:link, #menu_submenu_ul li a:link, #menu_login_ul li a:link
{
	color: black;
	text-decoration: none;
}

#menu_main_ul li a:visited, #menu_submenu_ul li a:visited, #menu_login_ul li a:visited
{
	color: black;
}

#menu_main_ul li a:hover, #menu_submenu_ul li a:hover, #menu_login_ul li a:hover
{
	color: black;
	text-decoration: underline;
}

#menu_main_ul li a:active, #menu_submenu_ul li a:active, #menu_login_ul li a:active
{
	color: black;
}

#menu_submenu_ul
{
	display: none;
	position: absolute;
	z-index: 99;

	list-style-type: none;
}

.menu_border
{
    clear: both;    /* force to seperate the following element */
}

#menu_login_ul
{
	list-style-type: none;
}

#menu_login_ul li
{
	float: right;        /* force the menuitem float to left*/
	margin-left: 5px;
	margin-right: 5px;
}

/* sidebar.php style */
#sidebar_div
{
	float: left;
	width: 25%;
}

.sidebar_frame_div
{
    border-collapse: collapse;
    border-style: solid;
	border-width: 1px;
	border-color: #808080;      /* hui se */

	margin: 10px;
}

.sidebar_title_div
{
	background-color: #808080;  /* hui se */
	margin: 0;

	text-align: center;
	font-weight: bold;
    font-size: 120%;
}

.sidebar_content_div
{
	color: #4169E1;             /* huang jia lan se */
	margin: 10px;
}

.sidebar_content_div a:link
{
	color: #4169E1;             /* huang jia lan se */
	text-decoration: none;
}

.sidebar_content_div a:visited
{
	color: #4169E1;             /* huang jia lan se */
}

.sidebar_content_div a:hover
{
	color: #4169E1;             /* huang jia lan se */
	text-decoration: underline;
}

.sidebar_content_div a:active
{
	color: #4169E1;             /* huang jia lan se */
}

.sidebar_content_right_span
{
    float: right;
}

#sidebar_comment_span
{
	color: #696969;             /* shen hui se */
}

/* post_list.php style */
#post_list_div
{
	float: right;
	width: 71%;

    border-collapse: collapse;
    border-style: solid;
	border-width: 1px;
	border-color: #808080;      /* hui se */

	margin: 10px;
	padding: 10px;
}

.post_list_item_div
{
	padding: 5px;
	margin: 1px;

    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #DCDCDC;  /* dan hui se */
}

.post_list_item_div_left a:link
{
	color: black;
	text-decoration: none;
    font-size: 120%;
}

.post_list_item_div_left a:visited
{
	color: black;
    font-size: 120%;
}

.post_list_item_div_left a:hover
{
	color: black;
	text-decoration: underline;
    font-size: 120%;
}

.post_list_item_div_left a:active
{
	color: black;
    font-size: 120%;
}

.post_list_item_div_right
{
    text-align: right;
    color: #696969;             /* shen hui se */
}

.post_list_item_div_right a:link
{
	color: #696969;             /* shen hui se */
	text-decoration: none;
}

.post_list_item_div_right a:visited
{
	color: #696969;             /* shen hui se */
}

.post_list_item_div_right a:hover
{
	color: #696969;             /* shen hui se */
	text-decoration: underline;
}

.post_list_item_div_right a:active
{
	color: #696969;             /* shen hui se */
}

#page_num_div
{
	text-align: right;
	color: #DCDCDC;             /* dan hui se */
}

#page_num_div a:link
{
	color: black;
	text-decoration: none;
}

#page_num_div a:visited
{
	color: black;
}

#page_num_div a:hover
{
	color: black;
	text-decoration: underline;
}

#page_num_div a:active
{
	color: black;
}

/* foot.php style */
#foot_div
{
    clear: both;
    text-align: center;
    color: black;
    padding-top: 50px;
}

/* post.php style */
#post_div
{
	float: right;
	width: 71%;

    border-collapse: collapse;
    border-style: solid;
	border-width: 1px;
	border-color: #808080;      /* hui se */

	margin: 10px;
	padding: 10px;
}

.post_head_div
{
	color: black;
    font-weight: bold;
    text-align: center;
	background-color: #DCDCDC;             /* dan hui se */
}

#post_title_div
{
	color: black;
    font-size: 150%;
}

#post_info_div
{
    text-align: right;
    color: #696969;             /* shen hui se */
}

#post_info_div a:link, .comment_info_div a:link
{
	color: #696969;             /* shen hui se */
	text-decoration: none;
}

#post_info_div a:visited, .comment_info_div a:visited
{
	color: #696969;             /* shen hui se */
}

#post_info_div a:hover, .comment_info_div a:hover
{
	color: #696969;             /* shen hui se */
	text-decoration: underline;
}

#post_info_div a:active, .comment_info_div a:active
{
	color: #696969;             /* shen hui se */
}

.comment_info_div
{
    text-align: left;
    color: #696969;             /* shen hui se */
}

/* new_post.php style */
#new_post_div
{
	float: right;
	width: 71%;

    border-collapse: collapse;
    border-style: solid;
	border-width: 1px;
	border-color: #808080;      /* hui se */

	margin: 10px;
	padding: 10px;
}

/* 404.php style */
#not_found_div
{
    margin-top: 100px;
    font-size: 200%;
}

/* admin_category.php style */
#cat_list_div
{
	float: right;
	width: 71%;

    border-collapse: collapse;
    border-style: solid;
	border-width: 1px;
	border-color: #808080;      /* hui se */

	margin: 10px;
	padding: 10px;
}

#cat_list_table
{
	padding: 5px;

    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

    width: 100%;
}

.cat_list_tr
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

    width: 100%;
}

#cat_list_cat_name_th
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 40%;
    background-color: #DCDCDC;          /* dan hui se */
}

#cat_list_cat_edit_th
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 40%;
    background-color: #DCDCDC;          /* dan hui se */
}

#cat_list_cat_op_th
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 20%;
    background-color: #DCDCDC;          /* dan hui se */
}

.cat_list_cat_name_td
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 40%;
}

.cat_list_cat_edit_td
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 40%;
}

.cat_list_cat_op_td
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 20%;
}

.cat_list_cat_op_td a:link
{
	color: black;
	text-decoration: none;
}

.cat_list_cat_op_td a:visited
{
	color: black;
}

.cat_list_cat_op_td a:hover
{
	color: black;
	text-decoration: underline;
}

.cat_list_cat_op_td a:active
{
	color: black;
}

#cat_list_new_cat_div
{
	padding-top: 30px;
    width: 100%;
}

#cat_list_submit_div
{
	padding-top: 30px;
    width: 100%;
	text-align: center;
}

/* admin_comment.php style */
#comment_list_div
{
	float: right;
	width: 71%;

    border-collapse: collapse;
    border-style: solid;
	border-width: 1px;
	border-color: #808080;      /* hui se */

	margin: 10px;
	padding: 10px;
}

#comment_list_table
{
	padding: 5px;

    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

    width: 100%;
}

.comment_list_tr
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

    width: 100%;
}

#comment_list_content_th
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

    width: 60%;
    background-color: #DCDCDC;          /* dan hui se */
}

#comment_list_user_th
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 10%;
    background-color: #DCDCDC;          /* dan hui se */
}

#comment_list_date_th
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 20%;
    background-color: #DCDCDC;          /* dan hui se */
}

#comment_list_op_th
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 10%;
    background-color: #DCDCDC;          /* dan hui se */
}

.comment_list_content_span
{
	color: #696969;             /* shen hui se */
}

.comment_list_content_td
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

    width: 60%;
}

.comment_list_user_td
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 10%;
}

.comment_list_date_th
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 20%;
}

.comment_list_op_td
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

	text-align: center;
    width: 10%;
}

.comment_list_content_td a:link, .comment_list_op_td a:link
{
	color: black;
	text-decoration: none;
}

.comment_list_content_td a:visited, .comment_list_op_td a:visited
{
	color: black;
}

.comment_list_content_td a:hover, .comment_list_op_td a:hover
{
	color: black;
	text-decoration: underline;
}

.comment_list_content_td a:active, .comment_list_op_td a:active
{
	color: black;
}

/* admin_config.php style */
#config_div
{
	float: right;
	width: 71%;

    border-collapse: collapse;
    border-style: solid;
	border-width: 1px;
	border-color: #808080;      /* hui se */

	margin: 10px;
	padding: 10px;
}

#config_table
{
	padding: 5px;

    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

    width: 100%;
}

.config_tr
{
    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

    width: 100%;
}

.config_label_td
{
	text-align: right;

    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

    width: 30%;
}

.config_input_td
{
	text-align: left;

    border-collapse: collapse;
    border-style: dotted;
	border-width: 1px;
	border-color: #696969;             /* shen hui se */

    width: 70%;
}

.config_option_short_input
{
    width:10%
}

.config_option_middle_input
{
    width:50%
}

.config_option_long_input
{
    width:90%
}

#config_submit_td
{
    text-align: center;
}

